<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <count></count>
    <COUNT></COUNT>
    <COUNT></count>
</div>


<script>

    // global resgiser
    Vue.component('count', {
        template: ` <div> 
            
                <span>{{count}}</span>
    <button @click='count ++'>+</button>
    <button @click='count --'>-</button>
            
            </div>`,
        data() {
            return {
                count: 0
            }
        }

    })


    new Vue({
        el: '#app',

    })

</script>