<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>battlefield</title>

    <link href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="battlefield.css">
    <script src="https://unpkg.com/vue"></script>

</head>

<body>

    <div class="container">
        <div id="app" style="margin-top:10px">
            <div id='battlefield' class="border">
                <div class="character ">
                    <h2>Player</h2>
                    <div class="life">
                        <div class="life-content"
                            :style="[{width:`${playerLife}%`}, {backgroundColor: (playerLife >20) ? 'lightgreen' : 'red'}]">
                        </div>
                    </div>
                    <span>{{playerLife}}</span><span>%</span>
                </div>
                <div class="character">
                    <h2>Monster</h2>
                    <div class="life">
                        <div class="life-content"
                            :style="[{width:`${monsterLife}%`}, {backgroundColor: (monsterLife >20) ? 'lightgreen' : 'red'}]">
                        </div>
                    </div>
                    <span>{{monsterLife}}</span><span>%</span>
                </div>
            </div>
            <br>
            <div class='border' v-if='!showResult'>
                <button v-if='showMenu' class="btn_new inic_btn btn" @click='showMenu = !showMenu'>New Game</button>
                <div v-else class="btn-group ">
                    <button class="attack_btn btn" @click='simpleAttack'>Attack</button>
                    <button class="special_attack_btn btn" @click='specialAttack()'>Special Attack</button>
                    <button class="heal_btn btn" @click='heal()'>Heal</button>
                    <button class="give_up_btn btn" @click='restart()'>Give Up Fighting</button>
                </div>
            </div>
            <div v-else class="border result">
                <div v-if='someoneDied' style="color:red; font-weight: bold; padding: 10px">
                    You lost :(
                </div>
                <div v-else style="color:blue; font-weight: bold; padding: 10px">
                    You win :)
                </div>
                <button class="btn restart_btn" @click='restart()'>Restart</button>
            </div>
            <br>
            <div class="border list-group">
                <ul>
                    <li v-for='message in sortedMessages' class="list-group-item border"
                        :style="[{backgroundColor:message.backgroundColor}, {color:message.color}]">
                        {{ message.msg }}
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <script src="battlefield.js"></script>
</body>

</html>