<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>
<link rel="stylesheet" href="style.css">

<div id="app">
    <div id='battlefield' class="border">
        <div class=" player ">
            <h2>Player</h2>
            <div class="life">
                <div class="life-content" :style="[{width:`${playerLife}%`}, {backgroundColor: (playerLife >20) ? 'lightgreen' : 'red'}]">
                </div>
            </div>
            <span>{{playerLife}}</span><span>%</span>
        </div>
        <div class=" player ">
            <h2>Monster</h2>
            <div class="life">
                <div class="life-content" :style="[{width:`${monsterLife}%`}, {backgroundColor: (monsterLife >20) ? 'lightgreen' : 'red'}]">
                </div>
            </div>
            <span>{{monsterLife}}</span><span>%</span>
        </div>
    </div>
    <br>
    <div v-if='!showResult'>
        <div v-if='showMenu' class="border">
            <button class="btn inic_btn" @click='showMenu = !showMenu'>New Game</button>
        </div>

        <div v-else class="border">
            <div class="btn-group ">
                <button class="attack_btn" @click='simpleAttack'>Attack</button>
                <button class="special_attack_btn" @click='specialAttack()'>Special Attack</button>
                <button class="heal_btn" @click='heal()'>Heal</button>
                <button class="give_up_btn" @click='restart()'>Give Up Fighting</button>
            </div>
        </div>
    </div>
    <div v-else>
        <div v-if='isPlayerDied'>
            You lost :(
        </div>
        <div v-else>
            You win :)
        </div>
        <button class="btn inic_btn" @click='restart()'>Restart</button>
    </div>


    <br>

    <div class="border">
        <ul>
            <li v-for='message in messages' class="log border" :style="[{backgroundColor:message.backgroundColor}]"> {{
                message.msg }}
            </li>
        </ul>
    </div>


</div>

<script src="app.js"></script>