.border {
	border-style: solid;
	border-width: thin;
}

.life-content {
	width: 100%;
	height: 15px;
	background-color: lightgreen;
}

.life {
	margin-left: 25%;
	width: 50%;
	margin-bottom: 2px;
	border: solid;
	border-width: thin;
}

.player {
	display: inline-block;
	width: 49.7%;
	text-align: center
}

.btn{
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	padding: 10px;
}

.btn-group {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

.btn-group button {
	padding: 10px;
}

.commands {
	text-align: center;
}

.attack_btn {
	background-color: red;
	color: white;
}

.special_attack_btn {
	background-color: orange;
}

.heal_btn {
	background-color: green;
	color: white;
}

.inic_btn {
	background-color: green;
	color: white;
}

.give_up_btn {
	background-color: gray;
}

ul {
	list-style: none;
}

#app{
	text-align: center
}